@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

.SacolaModal {
    font-family: "Cabin";
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    max-height: 350px;
    box-sizing: border-box;
    width: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
  }
  
  .SacolaModal > h2 {
    margin-top: 0;
  }
  
  .SacolaModal__confirmar {
    border: none;
    border-radius: 5px;
    font-family: "Cabin", sans-serif;
    padding: 5px;
    max-width: 280px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 85%;
    color: white;
    background-color: darkviolet;
  }